// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    font-family: Helvetica;
}

.answer {
    font-family: Helvetica;
    padding: 20px;
    text-indent: 20px;
}

.you {
    background-color: white;
    color: rgba(0,0,0,0.5);
    border-left: 3px solid rgba(0,0,0,0.5);
    padding: 10px;
    margin-bottom: 20px;
    vertical-align: center;

}

.coach {
    background-color: #ffffe1;
    color: rgba(0,0,0,0.6);
    border-left: 3px solid rgba(0,0,0,0.6);
    padding: 10px;
    margin-bottom: 20px;
    vertical-align: center;
}